body {
  background-color: rgb(65, 64, 64);
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.navbar {
  display: block;
  width: 100%;
  height: 60px;
  background-color: aqua;
}

.balance {
  display: flex;
  min-height: 70px;
  min-width: 100%;
  background-color: blue;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  padding: 10px;
  min-width: 100vh;
  min-height: 100vh;
  background-color: blueviolet;
}
.overview {
  display: flex;
  flex-basis: 200px;
  flex: 1;
  background-color: brown;
}
.piechart {
  display: flex;
  flex-basis: 200px;
  flex: 1;
  background-color: rgb(153, 165, 42);
}
