body {
  font-family: "outfit";
  overflow: hidden;
  padding: 0;
  margin: 0%;
}
.container {
  display: flex;
  height: 100vh;
}

.img {
  display: flex;
  flex: 0.8;
  justify-content: center;
  align-items: center;
}
img {
  width: 80%;
  height: 85%;
  margin-left: 30px;
}
.details {
  display: flex;
  flex: 1;

  align-items: flex-start;
  justify-content: center;
}
.debit-details {
  -font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  position: relative;
  width: 80%;
  height: 36px;
  font-size: larger;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
  margin-top: 20px;
  justify-content: space-evenly;
  align-self: center;
  padding: 2px;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-top: 18px;
  transition: 200ms ease-in-out;
}
a:hover {
  color: white;
  cursor: pointer;
}
.hidden {
  display: none;
  flex-direction: column;
}
.base-details {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.label {
  font-size: larger;
  font-weight: 550;
  color: #323232;
  margin-top: 20px;
}
.detail-input {
  max-width: 100%;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}
.detail-input:focus {
  box-shadow: 5.5px 7px 0 black;
}
.submit {
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  color: #323232;
  transition: 400ms;
}
.submit:hover {
  background-color: #82fab8;
  box-shadow: 5.5px 7px 0 black;
}
.box {
  margin-top: 5px;
  align-self: center;
  width: 70%;
  height: fit-content;
  background: #2cb996;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black;
  margin-bottom: 50px;
}

.cod {
  -font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  position: relative;
  width: 170px;
  height: 36px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
}
.option {
  width: 80.5px;
  height: 28px;
  position: relative;
  top: 2px;
  left: 2px;
}
.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}
.btn {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  color: var(--font-color-dark);
}

.input:checked + .gr {
  background-color: #40db86;
}
.input:checked + .rd {
  background-color: #ff584c;
}
.input:checked + .es {
  background-color: #fa5555;
}
.input:checked + .bi {
  background-color: #f7fb76;
}
.input:checked + .sa {
  background-color: #8ded8e;
}
.input:checked + .ot {
  background-color: #2d7d8f;
}

.navbar {
  display: flex;
  margin: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: #24977b;
  padding-bottom: 20px;
}
.logo {
  display: flex;

  color: #000000;
  font-size: 40px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;

  margin-left: 43%;

  margin-top: 25px;
  font-size: 28px;
  font-weight: bold;

  align-self: center;
}
.span1 {
  color: #ffffff;
}
.profile {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 45%;
  margin-top: 18px;

  width: 20px;
  height: 20px;
  color: #000000;
}
