body {
  padding: 0;
  margin: 0;

  font-family: "outfit";
  background-color: #ffffff;
  overflow: scroll;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  margin: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: #24977b;
  padding-bottom: 20px;
}
.logo {
  display: flex;

  color: #000000;
  font-size: 40px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;

  margin-left: 43%;

  margin-top: 25px;
  font-size: 28px;
  font-weight: bold;

  align-self: center;
}
.span1 {
  color: #ffffff;
}
.profile {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 45%;
  margin-top: 18px;

  width: 20px;
  height: 20px;
  color: #000000;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-top: 18px;
  transition: 200ms ease-in-out;
}
a:hover {
  color: white;
  cursor: pointer;
}
.tranRow {
  display: flex;

  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin: 2px;
  padding: 5px;
}
.tranHead {
  font-weight: 900;
  font-size: 35px;
  color: #24977b;
}
.all-options {
  -font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30%;

  height: 36px;
  font-size: larger;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
  margin-top: 20px;
  justify-content: space-evenly;
  align-self: center;
  padding: 2px;
  padding-right: 20px;
}
.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}
.btn {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input:checked + .all {
  background-color: #24977b;
}
.input:checked + .es {
  background-color: #fa5555;
}
.input:checked + .bi {
  background-color: #f7fb76;
}
.input:checked + .sa {
  background-color: #8ded8e;
}
.input:checked + .ot {
  background-color: #2d7d8f;
}
.span {
  color: var(--font-color-dark);
}
.option {
  width: 80.5px;
  height: 28px;
  position: relative;
  top: 2px;
  left: 2px;
}
.dltButton {
  display: flex;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 15 17.5" height="17.5" width="15" fill="black" xmlns="http://www.w3.org/2000/svg" class="icon"><path transform="translate(-2.5 -1.25)" d="M15,18.75H5A1.251,1.251,0,0,1,3.75,17.5V5H2.5V3.75h15V5H16.25V17.5A1.251,1.251,0,0,1,15,18.75ZM5,5V17.5H15V5Zm7.5,10H11.25V7.5H12.5V15ZM8.75,15H7.5V7.5H8.75V15ZM12.5,2.5h-5V1.25h5V2.5Z" id="Fill"></path></svg>');
  height: 17.5px;
  width: 15px;
  background-color: transparent;

  border: none;
}
.dltButton:hover {
  cursor: pointer;
}
.dltButton::after {
  content: "delete";
  position: absolute;
  top: -130%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background-color: rgb(168, 7, 7);
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
}

.dltButton {
  transform: scale(1.2);
  transition: 0.2s linear;
}

.dltButton:hover::after {
  visibility: visible;
  opacity: 1;
  top: -160%;
}
.editButt {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0 0 48 48'%3E%3Cpath d='M 36 5.0097656 C 34.205301 5.0097656 32.410791 5.6901377 31.050781 7.0507812 L 8.9160156 29.183594 C 8.4960384 29.603571 8.1884588 30.12585 8.0253906 30.699219 L 5.0585938 41.087891 A 1.50015 1.50015 0 0 0 6.9121094 42.941406 L 17.302734 39.974609 A 1.50015 1.50015 0 0 0 17.304688 39.972656 C 17.874212 39.808939 18.39521 39.50518 18.816406 39.083984 L 40.949219 16.949219 C 43.670344 14.228094 43.670344 9.7719064 40.949219 7.0507812 C 39.589209 5.6901377 37.794699 5.0097656 36 5.0097656 z M 36 7.9921875 C 37.020801 7.9921875 38.040182 8.3855186 38.826172 9.171875 A 1.50015 1.50015 0 0 0 38.828125 9.171875 C 40.403 10.74675 40.403 13.25325 38.828125 14.828125 L 36.888672 16.767578 L 31.232422 11.111328 L 33.171875 9.171875 C 33.957865 8.3855186 34.979199 7.9921875 36 7.9921875 z M 29.111328 13.232422 L 34.767578 18.888672 L 16.693359 36.962891 C 16.634729 37.021121 16.560472 37.065723 16.476562 37.089844 L 8.6835938 39.316406 L 10.910156 31.521484 A 1.50015 1.50015 0 0 0 10.910156 31.519531 C 10.933086 31.438901 10.975086 31.366709 11.037109 31.304688 L 29.111328 13.232422 z'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}
.editButt:hover {
  cursor: pointer;
}
.editButt::after {
  content: "edit";
  position: absolute;
  top: -130%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background-color: rgb(15, 87, 9);
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
}

.editButt {
  transform: scale(1.2);
  transition: 0.2s linear;
}

.editButt:hover::after {
  visibility: visible;
  opacity: 1;
  top: -160%;
}
.buttons {
  display: flex;
  position: absolute;
  margin-top: 5px;
  right: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add {
  margin: 10px;
  width: 120px;
  height: 60px;

  border-radius: 5px;
  border: 2px solid #000000;
  background-color: #00ffa0;
  box-shadow: 4px 4px #000000;
  font-size: 17px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}
.add2 {
  margin: 10px;
  width: 120px;
  height: 60px;

  border-radius: 5px;
  border: 2px solid #000000;

  box-shadow: 4px 4px #000000;
  font-size: 17px;
  font-weight: 600;
  color: #24977b;
  cursor: pointer;
}

.but-container {
  display: flex;
  width: fit-content;

  position: relative;
  left: 93%;
  top: -210px;
}
.con {
  width: 100%;
  display: flex;
  flex-direction: row;
}
